<html lang="${lang}">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Situs Tanya Jawab</title>
      <meta name="robots" content="noindex, nofollow">
      <meta content="Kami memiliki 1.000.000+ artikel tanya jawab pendidikan" name="description">
      <meta content="Soal,Jawaban,tanya,jawab" name="keywords">
     <link href="${origin}/bootstrap.min.css" rel="stylesheet">
      <link href="${origin}/home.css" rel="stylesheet">
     <link href="${origin}/micromodal.css" rel="stylesheet"/>
   </head>
   <body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
      <section id="hero">
         <div class="hero-container aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <h1>Selamat Datang di Situs Tanya Jawab</h1>
            <h2>Kami memiliki 1.000.000+ halaman artikel seputar tanya jawab pendidikan</h2>
            <a href="#contact" class="btn-get-started" onclick="MicroModal.show('modal-1')">Pasang Iklan</a>
         </div>
      </section>
      <div id="modal-cotact"/>
     <script src="https://unpkg.com/micromodal@0.4.10/dist/micromodal.min.js"></script>
     <script src="${origin}/modal-home.js"></script>
   </body>
</html>